*::selection
{
    color: white;
    background-color:hsl(154, 53%, 55%) ;
}
body 
{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
.nav-bar
{
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: rgba(31, 31, 31);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;
    z-index: 1020;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.5s 0s ease-in-out;
}
.nav-bar .nav-list
{
    visibility: hidden;
    width: calc(100% - 268px);
    display: flex;
    justify-content: center;
    
}
.nav-bar .logo 
{
    margin-left: 5px;
}
.nav-bar ul
{
    list-style: none;
    color: white;
    padding: 0;
    margin: 0;
}
.nav-bar ul li
{ 
    display: inline-block;
    margin-left: 18px;
    margin-right: 18px;
    text-transform: capitalize;
}
.nav-bar ul li a
{ 
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-transform: capitalize;
}
.nav-bar ul li a:hover
{ 
    color: hsl(154, 53%, 55%);
    transition: all 0.5s 0s ease-in-out ;

}
.nav-bar ul li a:focus
{   
    color: hsl(154, 53%, 55%);
    transition: all 1s 0s ease-in-out;
}
.main-bar
{
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.main-bar img
{
    position: absolute;
    left: -100%;
    top: 0;
    height:100%;
    filter: brightness(0.3) grayscale(0.5);
    z-index: -1;
}
.main-bar .content
{   position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.main-bar .content .typing 
{
    margin: 20px;
}
.main-bar .content .typing .cursur
{
    font-size: 35px;
    margin: 0px;
    font-weight: bold;
    animation-name: cursur;
    animation-duration: 0.4s;
    animation-iteration-count:infinite ;
}
.main-bar .content .typing .type::after 
{
    content: "";
    width: 100px;
    height: 200px;
    font-size: 35px;
    font-weight: bold;
    animation-name: typing;
    animation-duration: 12s;
    animation-iteration-count:infinite ;
    animation-delay: 2s;

    
}
@keyframes typing 
{
    0%{content: "I";}
    1%{content: "I'";}
    2%{content: "I'm";}
    3%{content: "I'm ";}
    4%{content: "I'm J";}
    5%{content: "I'm Jo";}
    6%{content: "I'm Joh";}
    7%{content: "I'm John";}
    8%{content: "I'm John ";}
    9%{content: "I'm John S";}
    10%{content: "I'm John Sa";}
    11%{content: "I'm John Saf";}
    12%{content: "I'm John Safw";}
    13%{content: "I'm John Safwa";}
    14%{content: "I'm John Safwat";}
    15%{content: "I'm John Safwat";}
    16%{content: "I'm John Safwat";}
    18%{content: "I'm John Safwa";}
    19%{content: "I'm John Safw";}
    20%{content: "I'm John Saf";}
    21%{content: "I'm John Sa";}
    22%{content: "I'm John S";}
    23%{content: "I'm John";}
    24%{content: "I'm Joh";}
    25%{content: "I'm Jo";}
    26%{content: "I'm J";}
    27%{content: "I'm";}
    28%{content: "I'm a";}
    29%{content: "I'm a ";}
    30%{content: "I'm a F";}
    31%{content: "I'm a Fr";}
    32%{content: "I'm a Fre";}
    33%{content: "I'm a Free";}
    34%{content: "I'm a Free ";}
    35%{content: "I'm a Free L";}
    36%{content: "I'm a Free La";}
    37%{content: "I'm a Free Lan";}
    38%{content: "I'm a Free Lanc";}
    39%{content: "I'm a Free Lance";}
    40%{content: "I'm a Free Lancer";}
    41%{content: "I'm a Free Lancer";}
    42%{content: "I'm a Free Lancer";}
    43%{content: "I'm a Free Lance";}
    44%{content: "I'm a Free Lanc";}
    45%{content: "I'm a Free Lan";}
    46%{content: "I'm a Free La";}
    47%{content: "I'm a Free L";}
    48%{content: "I'm a Free";}
    49%{content: "I'm a Fre";}
    50%{content: "I'm a Fr";}
    51%{content: "I'm a F";}
    52%{content: "I'm a";}
    53%{content: "I'm a P";}
    54%{content: "I'm a Ph";}
    55%{content: "I'm a Pho";}
    56%{content: "I'm a Phot";}
    57%{content: "I'm a Photo";}
    58%{content: "I'm a Photog";}
    59%{content: "I'm a Photogr";}
    60%{content: "I'm a Photogra";}
    62%{content: "I'm a Photograp";}
    63%{content: "I'm a Photograph";}
    64%{content: "I'm a Photographe";}
    65%{content: "I'm a Photographer";}
    66%{content: "I'm a Photographer";}
    67%{content: "I'm a Photographer";}
    68%{content: "I'm a Photographe";}
    69%{content: "I'm a Photograph";}
    70%{content: "I'm a Photograp";}
    71%{content: "I'm a Photogra";}
    72%{content: "I'm a Photogr";}
    73%{content: "I'm a Photog";}
    74%{content: "I'm a Photo";}
    75%{content: "I'm a Phot";}
    76%{content: "I'm a Pho";}
    77%{content: "I'm a Ph";}
    78%{content: "I'm a P";}
    79%{content: "I'm a ";}
    80%{content: "I'm a D";}
    81%{content: "I'm a De";}
    82%{content: "I'm a Des";}
    83%{content: "I'm a Desi";}
    84%{content: "I'm a Desig";}
    85%{content: "I'm a Design";}
    86%{content: "I'm a Designe";}
    87%{content: "I'm a Designer";}
    88%{content: "I'm a Designer";}
    89%{content: "I'm a Designer";}
    90%{content: "I'm a Designe";}
    91%{content: "I'm a Design";}
    92%{content: "I'm a Desig";}
    93%{content: "I'm a Desi";}
    94%{content: "I'm a Des";}
    95%{content: "I'm a De";}
    96%{content: "I'm a D";}
    97%{content: "I'm a";}
    98%{content: "I'm ";}
    99%{content: "I'";}
    100%{content: "";}
}
@keyframes cursur {
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 100;
    }
}
.main-bar .content .location
{
    font-size: 16px;
    color: rgb(216, 216, 216);
}
.main-bar .content .botton
{
    width: 90px;
    font-size: 16px;
    text-align: center;
    margin: 10px;
    margin-top: 50px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid hsl(154, 53%, 55%);
    color: hsl(154, 53%, 55%);
    border-radius: 100px;
    transition: all 0.5s 0s;
    
}
.main-bar .content .botton:hover
{
    background-color: hsl(154, 53%, 55%);
    color: white;
    cursor: pointer;
}
.about 
{
    width: 100%;
    height: 1250px;
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
}
.about .about-me h1
{
    margin-top: 0px;
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: center; 
    align-items: flex-end;
    position: relative;
    font-size: 18px;
    overflow: hidden;
    padding-bottom: 20px;
    
}
.about .about-me h1::after
{
    content: "about me";
    position: absolute;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bolder;
    opacity: 0.07;
    z-index: 0;
    bottom: -10px;
}
.about .about-me::before
{
    content: "";
    width: 100px;
    height: 4px;
    position: absolute;
    background-color: hsl(154, 53%, 55%);
    bottom: -110px;
    left: 140px;
    z-index: 100;
}
.about .main-content
{
    grid-row: 12 /span 2;
    grid-column: 1 /span 1;
    display: grid;

}
.about .main-content .left
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    padding-bottom: 0px;
}
.about .main-content .left .header h1 
{
    color: rgb(59, 59, 59);
}
.about .main-content .left .header h1 span
{
    color:hsl(154, 53%, 55%) ;
}
.about .main-content .left p
{
    color: rgb(156, 156, 156);
    font-size: 16px;
    line-height: 24px;
    margin-top: 0px;
}
.about .main-content .right
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;
}
.about .main-content .right div
{
    width: 360px;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1.5px solid #b3b3b3;
}
.about .main-content .right div span
{
    font-weight: bold;
    font-size: 20px;
    color: #4c4d4d;
}
.about .main-content .right div p
{
    font-size: 16px;
    color: #8a8a8a;
}
.about .main-content .right div a
{
    text-decoration: none;
    color:hsl(154, 53%, 55%);
    padding-left:5px ;
    
}
.about .main-content .right div a:hover
{
    color: hsl(154, 47%, 34%);
}
.about .main-content .right .from
{
    border: none;
    margin-bottom: 10px;
}
.about .main-content .right .botton
{   
    border: none;
    background-color: #56ebaa;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: large;
    box-shadow: 2px 5px 20px 0px #52e2a49d;
}
.about .main-content .right .botton:hover
{  
    background-color: #43aa7d;
    transition: all 0.5s 0s;
    cursor: pointer;
}
.about .footer
{
    color: #8a8a8a;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    grid-template-rows: repeat(2 ,1fr);
}
.about .footer div
{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}
.about .footer .Projects-Done::after
{
    content: "";
    height: 1px;
    width: 180px;
    background-color: #c5c5c5;
    position: absolute;
    top: 0;
    left: 0%;
    z-index: 100;
}
.about .footer .Happy-Clients::after
{
    content: "";
    height: 120px;
    width: 1px;
    background-color: #c5c5c5;
    position: absolute;
    top: 15%;
    left: -0.3%;
    z-index: 100;
}
.about .footer .Get-Awards::after
{
    content: "";
    height: 1px;
    width: 160px;
    background-color: #c5c5c5;
    position: absolute;
    top: 0;
    left: 0%;
    z-index: 100;
}
.about .footer .Years-Experiance::after
{
    content: "";
    height: 120px;
    width: 1px;
    background-color: #c5c5c5;
    position: absolute;
    top:100%;
    right: 0%;
    z-index: 100;
}
.about .footer .Years-Experiance span::after
{
    content: "";
    width: 100px;
    height: 100px;
    animation-fill-mode: forwards;
    font-size: 50px;
    font-weight: bold;
    animation-name: ten;
    animation-duration: 1.5s;
    animation-iteration-count:1;
    
}
.about .footer .Happy-Clients span::after
{
    content: "";
    width: 100px;
    height: 100px;
    animation-fill-mode: forwards;
    font-size: 50px;
    font-weight: bold;
    animation-name: ten-1;
    animation-duration: 1.5s;
    animation-iteration-count:1;

    
}
.about .footer .Projects-Done span::after
{
    content: "";
    width: 100px;
    height: 100px;
    animation-fill-mode: forwards;
    font-size: 50px;
    font-weight: bold;
    animation-name: ten-2;
    animation-duration: 1.5s;
    animation-iteration-count:1;

    
}
.about .footer .Get-Awards span::after
{
    content: "";
    width: 100px;
    height: 100px;
    animation-fill-mode: forwards;
    font-size: 50px;
    font-weight: bold;
    animation-name: ten-3;
    animation-duration: 1.5s;
    animation-iteration-count:1;

}
@keyframes ten {
    0% {content: "+";}
    10% {content: "1+";}
    20% {content: "2+";}
    30% {content: "3+";}
    40% {content: "4+";}
    50% {content: "5+";}
    60% {content: "6+";}
    70% {content: "7+";}
    80% {content: "8+";}
    90% {content: "9+";}
    100% {content: "10+";}
}
@keyframes ten-1 {
    0% {content: "13";}
    10% {content: "56";}
    20% {content: "76";}
    30% {content: "123";}
    40% {content: "167";}
    50% {content: "195";}
    60% {content: "245";}
    70% {content: "278";}
    80% {content: "300";}
    90% {content: "324";}
    100% {content: "350+";}
}
@keyframes ten-2 {
    0% {content: "12";}
    10% {content: "78";}
    20% {content: "123";}
    30% {content: "189";}
    40% {content: "244";}
    50% {content: "356";}
    60% {content: "409";}
    70% {content: "465";}
    80% {content: "545";}
    90% {content: "603";}
    100% {content: "650+";}
}
@keyframes ten-3 {
    0% {content: "5";}
    10% {content: "12";}
    20% {content: "14";}
    30% {content: "19";}
    40% {content: "23";}
    50% {content: "27";}
    60% {content: "28";}
    70% {content: "31";}
    80% {content: "34";}
    90% {content: "37";}
    100% {content: "38";}
}
.what
{
    width: 100%;
    height: 950px;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}   
.what .i-do
{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center; 
    align-items: flex-end;
    position: relative;
    font-size: 14px;
    overflow: hidden;
    padding-bottom: 40px;

}
.what .i-do::after
{
    content: "SERVICES";
    position: absolute;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bolder;
    opacity: 0.07;
    z-index: 0;
    bottom: 30px;
    
}
.what .i-do::before
{
    content: "";
    width: 100px;
    height: 4px;
    position: absolute;
    background-color: #4fc994;
    bottom: 55px;
    z-index: 100;
}
.what .content 
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.what .content div
{
    width: 90%;
    box-sizing: border-box;
    display: flex;
    margin-bottom: 10px;
}
.what .content div .text
{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.what .content div .text h2
{
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
    color: #4d4d4d;
}
.what .content div .text p
{
    font-size: 14px;
    margin: 0;
    margin-bottom: 10px;
    color: #808080;
}
.what .content div span
{
    display: inline-block;
    width: 100px;
    height: 70px;
    background-color: #ffffff;
    border-radius: 10PX;
    box-shadow: 2px 2px 10px 0px  rgb(199, 199, 199) ;
    
}
.what .content div span img
{
    width: 40%;
    height: 40%;    
    padding: 30%;
}

.resume
{
    width: 100%;
    height: 2500px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}
.resume .summary
{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center; 
    align-items: flex-end;
    position: relative;
    font-size: 14px;
    overflow: hidden;
    padding-bottom: 40px;
}
.resume .summary::after
{
    content: "SUMMARY";
    position: absolute;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bolder;
    opacity: 0.07;
    z-index: 0;
    bottom: 30px;
    
}
.resume .summary::before
{
    content: "";
    width: 100px;
    height: 4px;
    position: absolute;
    background-color: #4fc994;
    bottom: 55px;
    z-index: 100;
}
.resume .left
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px repeat(3,1fr);
    grid-gap: 20px ;
    padding: 20px;
    padding-bottom: 0;
    padding-top: 0;
}
.resume .right
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px repeat(3,1fr);
    grid-gap: 20px ;
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 0;
}
.resume .title
{
    text-transform: capitalize;
    margin: 20px;
    font-size: 24px;
}
.resume .div
{
    box-sizing: border-box;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    overflow: hidden;
}
.resume .div .years
{
    background-color: #51d39b;
    color: white;
    font-size: 14px;
    width:100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.resume .div h1
{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #262b34;
    font-weight: 400;
}
.resume .div h2
{
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
    color: #f8555d;
    font-weight: 300;
}
.resume .div p
{
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
    color: #8b8b8b;
    font-weight: 300;
}
.resume .my-skills 
{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.resume .my-skills .title
{
    font-size: 24px;
    margin: 0;
    margin-left: 20px;
    margin-top: 10px;
}
.resume .my-skills .skils
{
    padding: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.resume .my-skills .skils div
{
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color:#8b8b8b;
    position: relative;
    margin-bottom: 10px;
}
.resume .my-skills .skils div::after
{
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    bottom: 10px;
    background-color: #adadad;
    border-radius: 5px;
}
.resume .my-skills .skils .web::before
{
    content: "";
    position: absolute;
    width: 65%;
    height: 10px;
    bottom: 10px;
    background-color: #51d39b;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 10;
}
.resume .my-skills .skils .React::before
{
    content: "";
    position: absolute;
    width: 70%;
    height: 10px;
    bottom: 10px;
    background-color: #51d39b;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 10;
}
.resume .my-skills .skils .HTML::before
{
    content: "";
    position: absolute;
    width: 95%;
    height: 10px;
    bottom: 10px;
    background-color: #51d39b;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 10;
}
.resume .my-skills .skils .Angular::before
{
    content: "";
    position: absolute;
    width: 60%;
    height: 10px;
    bottom: 10px;
    background-color: #51d39b;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 10;
}
.resume .my-skills .skils .JavaScript::before
{
    content: "";
    position: absolute;
    width: 80%;
    height: 10px;
    bottom: 10px;
    background-color: #51d39b;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 10;
}
.resume .my-skills .skils .Bootstrap::before
{
    content: "";
    position: absolute;
    width: 99%;
    height: 10px;
    bottom: 10px;
    background-color: #51d39b;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 10;
}
.resume .my-skills .footer
{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    height: 100px;
}
.resume .my-skills .footer .botton
{
    background-color: #6e757e00;
    color: #6e757e;
    width: 200px;
    height: 60px;
    border-radius: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid #6e757e;
    transition: all 0.5s 0s;
    box-shadow: 3px 10px 20px 0px #bbbbbb;
}
.resume .my-skills .footer .botton:hover
{
    background-color: #6e757e;
    color: white;
}
.protfolio
{
    width: 100%;
    height: 2720px;
    background-color: #EEE;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.protfolio .summary
{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center; 
    align-items: flex-end;
    position: relative;
    font-size: 14px;
    overflow: hidden;
    padding-bottom: 40px;
}
.protfolio .summary::after
{
    content: "PORTFOLIO";
    position: absolute;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bolder;
    opacity: 0.07;
    z-index: 0;
    bottom: 30px;
    
    
}
.protfolio .summary::before
{
    content: "";
    width: 100px;
    height: 4px;
    position: absolute;
    background-color: #4fc994;
    bottom: 55px;
    z-index: 100;
}
.protfolio .list li
{
    list-style: none;
    display: inline-block;
    margin: 15px;
    color: #585858;  
    transition: all 0.5s 0s;
}
.protfolio .list li:hover
{
    color: #51d39b;
    cursor: pointer;
}
.protfolio .list 
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 60px;
    width: 100%;
}
.protfolio .photos
{
    height: 1200px;
    width:75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-column-gap: 20px ;
    padding: 20px;
    position: relative;
} 
.protfolio .photos div
{
    width: 317px;
    margin-bottom: 20px;
}
.protfolio .photos div img
{
    width: 100%;
    transition: all 0.5s 0s;
    
}

.client
{
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: flex-start;
}
.client .summary
{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center; 
    align-items: flex-end;
    position: relative;
    font-size: 14px;
    overflow: hidden;
    padding-bottom: 40px;
}
.client .summary::after
{
    content: "TESTIMONIAL";
    position: absolute;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bolder;
    opacity: 0.07;
    z-index: 0;
    bottom: 30px;
    
}
.client .summary::before
{
    content: "";
    width: 100px;
    height: 4px;
    position: absolute;
    background-color: #4fc994;
    bottom: 55px;
    z-index: 100;
}
.client .comments
{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction:column ;
    justify-content: flex-start;
    align-items: center;
}
.client .comments .person
{
    box-sizing: border-box;
    width: 90%;
    height: 550px;
    background-color: rgba(238, 238, 238, 0.603);
    border-radius: 10px;
    padding: 50px;
    margin-bottom: 20px;
}
.client .comments .person div
{
    display: flex;
    justify-content: start;
    align-items: center;   
    margin-bottom: 30px;
}
.client .comments .person div div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    padding-top: 30px;
    padding-left: 20px;
}
.client .comments .person div p
{
    margin: 0;
    padding: 0;
    font-size: 18px;
}
.client .comments .person div span
{
    margin: 0;
    padding: 0;
    color: #7b838a;
    font-size: 16px;
}
.client .comments .person div img
{
    width: 70px;
    border-radius: 50%;
}
.contact-us
{
    width: 100%;
    height: 1100px;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: flex-start;
}

.contact-us .summary
{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center; 
    align-items: flex-end;
    position: relative;
    font-size: 14px;
    overflow: hidden;
    padding-bottom: 40px;
}
.contact-us .summary::after
{
    content: "CONTACT";
    position: absolute;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bolder;
    opacity: 0.07;
    z-index: 0;
    bottom: 30px;
    
    
}
.contact-us .summary::before
{
    content: "";
    width: 100px;
    height: 4px;
    position: absolute;
    background-color: #4fc994;
    bottom: 55px;
    z-index: 100;
}

.contact-us .footer
{   
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.contact-us .footer .address
{
    box-sizing: border-box;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: 30px;
}
.contact-us .footer .address p
{
    font-size: 24px;
}
.contact-us .footer .address .location
{
    margin-bottom: 30px;
}
.contact-us .footer .address .location p
{
    margin: 0;
    margin-top:5px;
    font-size: 16px;
    color: #6e757e;
}
.contact-us .footer .address .location-1 p
{

    margin: 0;
    margin-top:3px;
    font-size: 16px;
    color: #6e757e;
}

.contact-us .footer .send-us
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: 30px;
}
.contact-us .footer .send-us p
{
    font-size: 24px;
}
.contact-us .footer .send-us input
{
    box-sizing: border-box;
    background: #e7e7e7;
    border: none;
    outline: none;
    height: 50px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    margin-right: 30px;
    font-size: 20px;
    box-shadow: 2px 5px 10px 0px rgb(179, 179, 179);
}
.contact-us .footer .send-us input:focus
{
    outline: 0.5px solid rgba(37, 157, 255, 0.336);
    box-shadow: 2px 5px 10px 0px rgb(216, 238, 255);
    
}
.contact-us .footer .send-us textarea
{
    box-sizing: border-box;
    background: #e7e7e7;
    border: none;
    outline: none;
    height: 200px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    margin-right: 30px;
    font-size: 20px;
    box-shadow: 2px 5px 10px 0px rgb(179, 179, 179);
}
.contact-us .footer .send-us textarea:focus
{
    outline: 0.5px solid rgba(37, 157, 255, 0.336);
    box-shadow: 2px 5px 10px 0px rgb(216, 238, 255);
    
}
.contact-us .footer .send-us .bottom
{
    border: none;
    background-color: #56ebaa;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: large;
    box-shadow: 2px 5px 20px 0px #52e2a49d;
}
.contact-us .footer .send-us div
{   
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}